body{
    background-color: blueviolet;
    margin: 0;
    font-family: sans-serif;
}
.pixels-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    color: yellow;
}
header{
    width: 100%;
    background: rgb(216, 112, 147);
}
.link-container ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.link-container li{
    text-align: center;
    flex-grow: 1;
}
.link-container li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
.link-container li :hover{
    background: rgb(170, 85, 113);
}
@media only screen and (max-width: 1920px){
    body{
        background-color: blueviolet;
    }
}
@media only screen and (max-width: 1366px){
    body{
        background-color: chartreuse;

    }
    
}